{% extends 'baseF.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ reclamation.type }}</td>
            </tr>
            <tr>
                <th>Ido</th>
                <td>{{ reclamation.ido }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ reclamation.sujet }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reclamation.date ? reclamation.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ reclamation.etat }}</td>
            </tr>
            <tr>
                <th>Idu</th>
                <td>{{ reclamation.idu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reclamationf_index') }}">back to list</a>

    <a href="{{ path('reclamationf_edit', {'id': reclamation.id}) }}">edit</a>

    {{ include('reclamationf/_delete_form.html.twig') }}
{% endblock %}
